
HttpServer/.vs/
HttpServer/HttpServer/obj/
HttpServer/UnitTestHttpServer/obj/
HttpServer/UnitTestHttpServer/bin/
.DS_Store
HttpServer/HttpServer/bin/Debug/log.txt
HttpServer/HttpServer/bin/Debug/log/
